.alertBody {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alertWrapper{
  width: 650px;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.alertTitle {
  background-color: purple;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  color: white
}
.alertContent {
  padding: 22px 16px 16px 16px;
  height: 120px;
}
.alertCloseBtn {
  position: absolute;
  right: 16px;
  bottom: 16px;
}